.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 20px 0;
}

.pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: teal;;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}

.pagination__item_current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: teal;;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid rgb(61, 54, 54);
    user-select: none;
}