.search__button {
    width: 175px;
    height: 40px;
    border: none;
    color: teal;
    font-size: 20px;
    border-radius: 7px;
    background-color: rgb(235, 235, 235);
    outline: none;
}

.search__button:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

.search__button:active {
    border: 1px solid teal;
}